//Globals
$body-font-family: 'Montserrat', sans-serif;
$font-size-root: 18px;
$font-weight-root: 400;
$app-background-color: #fff;
$main-color: #1F2B4B;

//Colors
$purple-color: #6D6ED3;

//Logo
$logo-font: 'Roboto Slab', serif;